@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E7F6FF;
}

.wrapper {
  width: 1080px;
  background-color: #fff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  height: 1526px;
  margin: 85px auto;
  padding: 45px 0px;
}

.header {
  
  display: grid;
  grid-template-columns: 220px 230px;
  grid-column-gap: 600px;
  align-items: center;
  
  .LeftPart {
    margin-left: 45px;
    display: grid;
    grid-template-columns: 50px 150px;
    align-items: center;
    .logoIcon {
      margin-right: 10px;
      border-radius: 30px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      -o-border-radius: 30px;
      
}

  .text1 {
    margin-left: 15px;
  }
  }


  .RightPart {
    .icon {
      display: inline-flex;  
      list-style: none; 
      margin-right: 20px;
      align-items: center;
      cursor: pointer;
    }
    p{
      margin-left: 10px;
    }
    
  }
}

.border {
  
  margin: 0 auto;
  margin-top: 10px;
  width: 1080px;
  border-bottom: solid 1px;
  border-color: #EAEAEA;
}


.banner {
  margin: 0 auto;
  width: 960px;
  height: 300px;
  background-color: #fff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background: #fff; /* Цвет фона */
    box-shadow: 0 0 10px rgba(223, 222, 222, 0.5); /* Параметры тени */
    padding: 10px;
  margin-top: 64px;
  display: grid;
  grid-template-columns: 220px 400px;
  grid-gap: 250px;
  align-items: center;
  justify-content: center;

  .rightSection {
    font-size: 25px;
  }
  .button {
    width: 220px;
    height: 40px;
    font-size: 20px;
    font-weight: 700;
    background-color: #9ccfec;
    border: 0;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    color: #fff;
    margin-top: 15px;
    cursor: pointer;

}
  .button:hover {
    background-color: #bedef1 ;
    transition: 0.15s ease-in-out;
    -webkit-transition: 0.15s ease-in-out;
    -moz-transition: 0.15s ease-in-out;
    -ms-transition: 0.15s ease-in-out;
    -o-transition: 0.15s ease-in-out;
}

  .bannerImg {
    width: 340px;
    height: 164px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-left: 50px;
}

}


.main {
  font-size: 20px;
  padding: 45px;
}
.shopItems {
  display: grid;
  grid-template-columns: 190px 190px 190px 190px;
  grid-template-rows: 260px 260px 260px;
  grid-gap: 60px;
}
.search {
  display: grid;
  grid-template-columns: 20px 90px;
  grid-column-gap: 15px;
  border: solid 1px;
  border-radius: 20px;
  border-color: #dddbdb;
  padding: 10px;
  align-items: center;
  .searchIcon{
    width: 20px;
    
  }
  }
  input {
    border: none;
    outline: none;
  }

.headerSection{
  display: grid;
  grid-template-columns: 300px 300px;
  grid-column-gap: 390px;
}
.card {
  margin-top: 50px;
  width: 190px;
  height: 260px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background: #fff; /* Цвет фона */
    box-shadow: 0 0 10px rgba(223, 222, 222, 0.5); /* Параметры тени */
    padding: 25px;
  font-size: 15px;
}

.shoesCardIcon {
  width: 190px;
  height: 100px;
}
.favourite {
  cursor: pointer;
}


.bottomSectionCard {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 80px 30px;
  grid-gap: 85px;
  align-items: end;

  h4{
    font-weight: 400;
    color: #d6d4d4;
  }
  .price {
    font-weight: 700;
    font-size: 20px;
    color: #000;
  }

  

  .addToCartIcon {
    cursor: pointer;
  } 
}

.overlay {
  position: absolute;
  
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
  .drawer {
    position: absolute;
    width: 385px;
    height: 100%;
    background-color: #fff;
    right: 0;
  }
}